aside
{
     height:100%;
	width:30%;
    /*background-color: blueviolet;*/
    float: left; 
    position: relative;
    margin-left: 15px;
}
.photo
{
    width:150px;  
    height:150px; 
}
h1
{
    float: left; 
    font-size:30px;  
    color:#4F6B9E;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
} 
@keyframes example 
{
    from {left: 230px;}
    to {right: 8px}
  }
}
h2
{
    font-size:10;    
}
h3
{
    font-size: 8;
   
}

main
{
    float:left; 
}

.liste
{
     margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#6884b8;
    list-style-type:none;
    clear:left; 
}


.menu
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}
 li a 
 {
    display: block;
    color: white;
    text-align: center;
    padding:0;
    text-decoration: none;
 }

 li a:hover 
{
    background-color:rgb(124, 182, 216); 
}

#rectangle {
    width  : 110px;
    height : 5px;
    background :rgb(124, 182, 216);
  }
div 
{
    border-left: 5px solid rgb(124, 182, 216);
    padding-left: 10px;
}

.avis{

    border-left: 5px solid rgb(124, 182, 216);
    border-right: 5px solid rgb(124, 182, 216);
    border-top: 5px solid rgb(124, 182, 216);
    border-bottom: 5px solid rgb(124, 182, 216);
    width: 600px;
}